<section  class="content_max">
    <h1>Legal Notice</h1>
  
    <div class="text-section">
      <h2>Imprint</h2>
      <ul>
        <li>Martin Bock</li>
        <li>Becherweg 30</li>
        <li>13407 Berlin</li>
      </ul>
    </div>
  
    <div class="text-section">
      <h3>Exploring the Board</h3>
      <p>Email: kontakt&#64;martin-bock.info</p>
    </div>
  
    <div class="text-section">
      <h3>Acceptance of terms</h3>
      <p>By accessing and using <span>Join</span> (Product), you 
        acknowledge and agree to the following terms and conditions, 
        and any policies, guidelines, or amendments thereto that may 
        be presented to you from time to time. We, the listed 
        students, may update or change the terms and conditions 
        from time to time without notice.</p>
    </div>
  </section>
  